{% extends "mybank/myBank_layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    4 vasili michelide<br />
    2015 dhasoupolis<br />
    Nicosia<br />
    Cyprus<br />
    <abbr title="Phone">P:</abbr>
    00357.22311634
</address>

<address>
    <strong>Support:</strong>   <a href="ifestionasganimedes@gmail.com">myBankSupport@ganimedes.com</a><br />
    <strong>Marketing:</strong> <a href="scantzochoiros@gmail.com">myBankMarketing@ganimedes.com</a>
</address>

{% endblock %}
