<!doctype html> {% include 'myBank/myBank__styles.html' %} {% include 'myBank/myBank_menu.html' %}
<html>

<body>
    {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    {% else %}
    <div class="row col-md-6 offset-md-2">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Payments</h4>
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Debtor</th>
                            <th>Creditor</th>
                            <th>Message</th>
                            <th>Name</th>
                            <th>Currency</th>
                            <th>Amount</th>
                            <th>Payment Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for val in payments%}
                        <tr>
                            [
                            {
                            "paymentId": "1662346776805376",
                            "transactionTime": "1511779237",
                            "status": {
                            "code": "CPLT",
                            "description": [
                            "The transaction has passed all validations and was successfully posted in bank systems"
                            ],
                            "refNumber": "8619693015302144"
                            },
                            "debtor": {
                            "bankId": "2333875497861120",
                            "accountId": "36962776429986"
                            },
                            "creditor": {
                            "bankId": "4087738068369408",
                            "accountId": "4026632280296809",
                            "name": "Hulda Logan",
                            "address": "35 Rusi Path"
                            },
                            "transactionAmount": {
                            "amount": 94.87769723,
                            "currency": "BHD",
                            "currencyRate": "UZS"
                            },
                            "charges": [
                            {
                            "name": "Timothy Wright",
                            "value": "depeic"
                            }
                            ],
                            "totalCharges": "acewu",
                            "endToEndId": "1949716843593728",
                            "paymentDetails": "lurekwagakisa",
                            "terminalId": "4929828690067456",
                            "branch": "imomupovdunarveehonefidupoed",
                            "RUB": {
                            "voC


                            <th scope="row">{{loop.index}}</th>
                            <td>{{val.debtor.accountId}}</td>
                            <td>{{val.creditor.accountId}}</td>
                            <td>{{val.creditor.name}}</td>
                            <td>{{val.paymentDetails}}</td>
                            <td>{{val.transactionAmount.currency}}</td>
                            <td>{{val.transactionAmount.amount}}</td>
                            <td>
                                {% if val.status.code != "CPLT" %}
                                <form action="/confirm_payment" method="POST">
                                    <input type="hidden" name="payment_id" value="{{val.paymentId}}">
                                    <button type="submit" class="btn btn-primary btn-sm">Confirm This Payment</button>
                                </form>
                                {% else %} {{val.status.code}} {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %} {% if not error %}
    <div class="row">
        <div class="col-md-6 offset-md-2">
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Make a new payment!</h3>
                </div>
                <div class="card-block">
                    <form class="form-horizontal" action="/payments" method="POST">
                        <fieldset>
                            <!-- Form Name -->
                            <legend>Payment Details</legend>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="amount">Amount</label>
                                <div class="col-md-6">
                                    <input id="amount" name="amount" type="text" placeholder="156.87" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="account_id">From Account</label>
                                <div class="col-md-6">
                                    <select id="account_id" name="account_id" class="form-control">
                                        {% for val in accounts %}
                                        <option value="{{val.accountId}}">{{val.accountId}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="beneficiary">Beneficiary Account</label>
                                <div class="col-md-6">
                                    <input id="beneficiary" name="beneficiary" type="text" placeholder="FI1350001520003240081" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="name">Beneficiary Name</label>
                                <div class="col-md-6">
                                    <input id="name" name="name" type="text" placeholder="John Smith" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="message">Message for the Beneficiary</label>
                                <div class="col-md-6">
                                    <input id="message" name="message" type="text" placeholder="This is an example message!" class="form-control input-md" required="">
                                </div>
                            </div>
                        </fieldset>
                        <button type="submit" class="btn btn-primary btn-lg">Make Payment!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</body>

</html>
